[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
python-dotenv = "==0.20.0"
chardet = "==5.0.0"

[dev-packages]

[requires]
python_version = "3.9"
